*{
	padding:0;
	margin:0;
}

/*<div id="user_perfil">
	<img alt="Foto_perfil" src="img/user.png">
		<div id="user_propieties">
		<div id="user_name">Name</div>
			<div id="user_menu">*/
			
#user_perfil{
	max-width: 200px;
	margin-left: 2.5%;
	background: #898a8b;
	text-align: center;
	position: absolute;
    height: 100%;
    border-radius: 2%;
    float:left;
    padding: 10px 6px 0px 8px;
}

#user_menu ul{
	list-style:none;
	padding:0px;
}
