@CHARSET "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#user_perfil{
	width: 200px;
	background: #898a8b;
	text-align: center;
    height: 100%;
    float:left;
    padding: 10px 6px 0px 8px;
}

#user_menu ul{
	list-style:none;
	padding:0px;
}
#user_perfil img{
	border-radius: 50%;
}
.content{
	float: left;
	padding: 150px;
}
#general{
	height: 100%;
}